<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
게시물 작성
    <div th:if="${param.required}" style="color:red;">
        로그인이 필요합니다.
    </div>
    <form th:action="${article} ? @{/article/modify/{id}(id=${article.id})} : @{/article/create}" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title" th:value="${article?.title}"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="content" rows="4" cols="23" th:text="${article?.content}"></textarea></td>
        </tr>
    </table>
    <button type="submit">작성</button>
    <a href="javascript:history.back()">취소</a>
</form>
</div>
</html>